<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="BaseUrl">https://www.yahoo.com/</entry>
    <entry key="MailUrl">https://mail.yahoo.com/</entry>
    <entry key="Login">autotest777</entry>
    <entry key="Password">!Qetuo13579</entry>
</properties>